#video-sphere {
  height: 600px;
  position: relative;
}

#video-sphere canvas {
  width: 100%;
  height: 100%;
  display: block;
  cursor: grab;
}

#video-sphere canvas:active {
  cursor: grabbing;
}
